* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}
body {
  color: #fff;
}

header {
  background-color: rgb(47, 56, 141);
}


header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  padding: 20px 15px;
  margin: 0 auto;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

section {
  position: relative;
  height: 100vh;
  background-color: rgb(47, 141, 78);
  font-size: 30px;
  text-align: center;
}

section p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#about {
  background-color: rgb(141, 103, 47);


}

section#contact {
  background-color: rgb(141, 47, 47);


}